@use '../../../../styles/variables' as *;

.wrapper {
  padding: 40px 0 20px;

  @include tablet {
    padding-bottom: 40px;
  }

  @include desktop {
    padding-bottom: 40px;
  }
}

.title {
  font-size: var(--font-size-title);
  font-weight: var(--font-weight-light);
  text-transform: uppercase;
  margin-bottom: 24px;

  @include tablet {
    font-size: var(--font-size-title-tablet);
  }

  @include desktop {
    font-size: var(--font-size-title-desktop);
  }
}

.list {
  width: 100%;
}

.row {
  display: flex;
  justify-content: space-between;
  padding: 16px 0;
  border-bottom: 0.5px solid var(--color-border);

  &:first-child {
    border-top: 0.5px solid var(--color-border);
  }
}

.label {
  font-size: var(--font-size-label-small);
  font-weight: var(--font-weight-light);
  text-transform: uppercase;
  width: 40%;

  @include desktop {
    font-size: var(--font-size-label);
  }
}

.value {
  font-size: var(--font-size-label-small);
  font-weight: var(--font-weight-light);
  width: 55%;

  @include desktop {
    font-size: var(--font-size-label);
  }
}
