@use '../../../../styles/variables' as *;

.container {
  position: sticky;
  top: var(--navbar-height);
  z-index: 10;
  background-color: var(--color-background);
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding: 24px 0;

  @include tablet {
    padding: 48px 0;
  }

  @include desktop {
    padding: 48px 0;
  }
}

.input {
  width: 100%;
  font-family: var(--font-family);
  font-weight: var(--font-weight-light);
  font-size: 16px;
  line-height: 100%;
  border: none;
  border-bottom: 0.5px solid var(--color-border);
  padding-bottom: 8px;
  outline: none;
  color: var(--color-text-primary);

  &::placeholder {
    color: var(--color-text-secondary-input);
  }

  &::-webkit-search-cancel-button {
    display: none;
  }
}

.inputWrapper {
  position: relative;
  width: 100%;
}

.clearButton {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  border: none;
  cursor: pointer;
  font-size: 12px;
  color: var(--color-text-primary);
  padding: 0;
}

.results {
  font-family: var(--font-family);
  font-weight: var(--font-weight-light);
  font-size: 12px;
  text-transform: uppercase;
  color: var(--color-text-primary);
}
