@use '../../styles/variables' as *;

.backWrapper {
  padding: 24px 16px;

  @include tablet {
    padding: 24px 40px;
  }

  @include desktop {
    padding: 24px 100px;
  }
}

.page {
  padding: 0 16px;

  @include tablet {
    padding: 0 40px;
  }

  @include desktop {
    padding: 0 360px;
  }
}
