@use '../../styles/variables' as *;

.backWrapper {
  padding: 24px 16px;

  @include tablet {
    padding: 24px 40px;
  }

  @include desktop {
    padding: 24px 100px;
  }
}

.page {
  padding: 0 16px;

  @include tablet {
    padding: 0 40px;
  }

  @include desktop {
    padding: 0 360px;
  }
}

.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  padding: 40px 0;

  @include tablet {
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
  }

  @include desktop {
    flex-direction: row;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
    padding-top: 110px;
  }
}
