.container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 3rem 1rem;
}

.message {
  font-size: var(--font-size-name);
  font-weight: var(--font-weight-light);
  text-transform: uppercase;
  color: var(--color-text-primary);
}
