@use '../../../../styles/variables' as *;

.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  padding: 40px 0;

  @include tablet {
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
  }

  @include desktop {
    flex-direction: row;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
    padding-top: 110px;
  }
}

.info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100%;
  gap: 32px;

  @include tablet {
    width: 361px;
    gap: 64px;
  }

  @include desktop {
    width: 380px;
    gap: 64px;
  }
}

.header {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.name {
  font-size: var(--font-size-title-mobile);
  font-weight: var(--font-weight-light);
  text-transform: uppercase;
  line-height: 100%;

  @include desktop {
    font-size: var(--font-size-title-desktop);
  }
}

.price {
  font-size: var(--font-size-price-desktop);
  font-weight: var(--font-weight-light);
  line-height: 100%;

  @include tablet {
    font-size: var(--font-size-price-tablet);
    text-transform: capitalize;
  }

  @include desktop {
    font-size: var(--font-size-price-desktop);
    text-transform: capitalize;
  }
}

.addButton {
  width: 100%;
  height: 48px;
  font-family: var(--font-family);
  font-size: var(--font-size-name);
  font-weight: var(--font-weight-light);
  text-transform: capitalize;
  border: none;
  background-color: var(--color-disabled-bg);
  color: var(--color-disabled-text);
  cursor: not-allowed;
  line-height: 100%;
  margin-top: 16px;

  @include tablet {
    width: 361px;
  }

  @include desktop {
    width: 361px;
  }
}

.active {
  background-color: var(--color-text-primary);
  color: var(--color-background);
  cursor: pointer;
}
